<app-header></app-header>
<div class="row category-section">
  <div class="category" *ngFor="let category of categories">
    <a [routerLink]="['/category', category.name]" class="category-link">
      <img [src]="category.image" alt="{{ category.name }}" class="category-image">
      <div class="category-name">{{ category.name }}</div>
    </a>
  </div>
</div>

<div>
  <a routerLink="/seller-dashboard">Go to Seller Page</a>
</div>

<section id="product1" class="section-1">
  <h2>Featured Products</h2>
  <p></p>
  <div class="pro-container">
    <div class="pro" *ngFor="let product of products">
      <img [src]="product.image" alt="{{ product.name }}">
      <div class="des">
        <span>{{ product.brandName }}</span>
        <h5>{{ product.description }}</h5>
        <h4>{{ product.price | currency }}</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart"></i></a>
    </div>
  </div>
</section>




